header {
    width: 80%;
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;
}
body {
    background-color: #642112;
    font-family: serif;
    font: bold;
    position: relative;
    padding: 10px;
    color: #642112;
    }
.top
{
    font-family: Impact, Haettenschweiler, serif;
    color: #642112;
    width: 600px;
    margin: auto;
    position: relative;
    background-color: #FAC88C;  
    text-align: center;
}
.nav{
    float: left;
    width: 200px;
}
.nav a {
  background-color: #FAC88C;
  color: #642112;
  display: block;
  padding: 12px; 
  text-decoration: none;
}
a:hover {
    background-color: antiquewhite;
}
#table1 {
    text-align: center;
    margin-left: 550px;
}
#img2 img {
    height: 630px;
}
#table2, td, th{
    border: 1px #642112 solid;
    background-color: #FAC88C;
    width: 400px;
    font-family: serif;
    color: #642112;
    margin-top: -665px;
    margin-left: 1075px;
}
#table3 {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    text-align: center;
}
#table4 {
    margin-left: 35px;
    margin-right: 5px;
}
#img3 img {
    height: 400px;
}
#img4 img {
    height: 400px;
}
#img5 img {
    width: 400px;
}
#img6 img {
    width: 425px;
}
#list3 {
    background-color: #FAC88C;
    width: 300px;
}
.container{
  width: 100%;
}
.container .box {
  float: right;
  background: #FAC88C;
 color: #642112;
  width: 400px;
  height: 150px;
  padding: 15px;
border: 1px #642112 solid;
}
.container #ordered {
  background: #FAC88C;
    color: #642112; 
    float: right;
  width: 300px;
  height: 100px;
  padding: 15px;
border: 1px #642112 solid;
    margin-top: -340px;
}